#form {
  margin-left: 20px;
}

#form .container {
  margin-bottom: 40px;
}

#form .container > * {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#form .button {
  width: 100%;
  font-family: 'Yahoo-Sans-Bold';
  outline: none;
  font-size: 14px;
  border-radius: 18px;
  padding: 0 24px;
  line-height: 36px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}

#form .print-button {
  border-color: transparent;
  background-color: #1888ff;
  color: white;
}

#form .print-button:active {
  background-color: #003abc;
}

#form .reset-button {
  margin-top: 10px;
  background-color: white;
  border-color: #e0e4e9;
  color: #188fff;
}

#form .reset-button:active {
  border-color: transparent;
  background-color: #f1f1f5;
}

#form label {
  display: block;
  font-size: 12px;
  line-height: 2;
  color: #999ca5;
}

#form ul {
  padding-left: 20px;
}

#form li {
  font-size: 12px;
  font-style: italic;
}

@media print {
  #form {
    display: none;
  }
}
